.row_posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
  scrollbar-width: none; /*파이어폭스용*/
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 144px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 320px;
}
.row_posterLarge:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .row_poster {
    max-height: 160px;
  }
  .row_posterLarge {
    max-height: 360px;
  }
}

@media screen and (max-width: 768px) {
  .row_poster {
    max-height: 100px;
  }
  .row_posterLarge {
    max-height: 280px;
  }
}
